.vs
.vscode
.DS_Store
/profile_chart_*.html
/stats*.html
/snapshot.bin
/*.jor
/detlog.txt

/Build/.cmake
/Build/Assets
/Build/CMakeFiles
/Build/Testing
/Build/cmake_install.cmake
/Build/CMakeCache.txt
/Build/compile_commands.json
/Build/CTestTestfile.cmake
/Build/HelloWorld.exe
/Build/JoltConfig.cmake
/Build/JoltViewer.exe
/Build/libJolt.a
/Build/libTestFramework.a
/Build/Makefile
/Build/PerformanceTest.exe
/Build/Samples.exe
/Build/UnitTests.exe
